//Reset styles from drag and drop plugin

.todo{
    cursor: grab;
    z-index: 0;
   position: initial !important;
    width: inherit !important;
    opacity: 1;
    height: auto !important ;
    box-sizing: border-box;
    transform: none !important;

}