@import "../container/variables.css";

.todos-wrap {
  .todos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 3em;
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 3rem;
  }
  .todo-header {
    font-weight: 400;
    color: #3f3e3e;
    padding-bottom: 1rem;
  }
  .todo-card {
    .todo-details {
      padding: 1rem;
      max-height: 14rem;
    }
    .priority-date {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      .priority .text{
        font-size: 13px;
        font-weight: 600;
        color: #7888fc;
      }
    }
    .category-status {
      display: flex;
      border-top: 2px solid #e7e4e4;
      justify-content: space-between;
      padding-top: 1rem;
      margin-top: 2rem;
      span {
        padding: 0.3rem 0.9rem;
        border-radius: 15px;
      }
      .category {
        background-color: #efe8ff;
        border-color: #efe8ff;
        color: #9c6efc;
      }
      .status {
        // color: #34c38f;
        // background-color: rgba(52,195,143,.18);

        color: #f46a6a;
        background-color: rgba(244, 106, 106, 0.18);

        //     color: #f1b44c;
        // background-color: rgba(241,180,76,.18);
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      background: #f9f9f9;
      padding: 0.7rem 1em;
      font-size: 12px;
      span{
        font-size: 16px;
        font-size: 16px;
        margin-left: 13px;
        cursor: pointer;
      }
      .edit{
        color: #556ee6;
      }
      .delete{
        color: #e30808;
      }
     
    }
    h3 {
      font-weight: 500;
      color: #333447;
      margin-bottom: 0.3rem;
      font-size: 21px;
    }
    p {
      font-weight: 300;
      font-style: normal;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 0.8rem;
      color: #3f3e3e;
    }
    span {
      font-size: 12px;
    }
  }

  .network-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn-network__error {
      padding: 10px 40px;
      border-radius: 2px;
      border: none;
      color: white;
      background: #007bff;
      margin-top: 1rem;
    }
  }

  .load_icon {
    width: 50%;
  }
  .no-todos {
    margin-bottom: 3rem;
  }
  .btn-wrap{
    text-align: center;
    margin-bottom: 2rem;
  }


  @media (max-width: 768px) {
    .todos {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .load_icon {
      width: 100%;
    }
  }
  @media (max-width: 560px) {
    .todos {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
